*{
    margin: 0px;
    padding: 0px;
}


.header-div{
    background-image: url('../images/header.jpg');
    /* background-repeat: none; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0%, 100% 0, 100% 88%, 75% 100%, 25% 100%, 0 85%, 0 21%);

}
nav > ul > li{
    display: inline;
}